name: Engine python package
on:
  push:
    tags:
      - "bamboo-engine-v*.*.*"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build and publish to pypi
        uses: JRubics/poetry-publish@v1.8
        with:
          python_version: "3.6.7"
          poetry_version: "==1.1.9"
          ignore_dev_requirements: "yes"
          repository_name: "bamboo-engine"
          pypi_token: ${{ secrets.PYPI_TOKEN }}
