name: Flake8 and Black

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  py_3_6:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Python 3.6
      uses: actions/setup-python@v2
      with:
        python-version: 3.6
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 black
    - name: Lint with flake8
      run: |
        flake8
    - name: Format with black
      run: |
        black

  py_3_7:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 black
    - name: Lint with flake8
      run: |
        flake8
    - name: Format with black
      run: |
        black
