name: Runtime pipeline python package
on:
  push:
    tags:
      - "bamboo-pipeline-v*.*.*"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.6
        uses: actions/setup-python@v2
        with:
          python-version: 3.6

      - name: Set up Poetry
        uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: 1.1.9

      - name: Remove Test Code
        run: |
          cd runtime/bamboo-pipeline
          rm -rf pipeline/django_signal_valve/tests
          rm -rf pipeline/tests
          rm -rf pipeline/contrib/external_plugins/tests
          poetry build -vvv
          poetry config pypi-token.bamboo-pipeline ${{ secrets.TEST_PYPI_TOKEN }}
          poetry config repositories.bamboo-pipeline https://test.pypi.org/legacy/
          poetry publish --repository bamboo-pipeline
